body{ 
 background-image: url("orange.png");
background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

text{
color : #F8F8FF;

}





